<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="APP_KEY" value="iz0gS98alwb+Et392aXCSw=="/>
    <add key="APPID" value="APP630"/>
    <add key="GLOBAL_KEY" value="vQaWqSxIxYfVOx97ryxV8A=="/>
    <add key="login_link" value="http://10.90.171.112:8080/sso/auth.jsp"/>
    <add key="schemaname" value="LCARD_POUCH"/>
    <!--  <add key="schemaname" value="LCARD##_30POUCH_0316"/>-->
  </appSettings>
  <connectionStrings>
    <add name="oracleconstr" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST = ORADEVDB.HPCL.CO.IN)(PORT = 1551)))(CONNECT_DATA =(SERVICE_NAME = ORADEVDB)));User Id=Lcard_pouch;Password=lcard#pou0225;"/>
    <!--  <add name="oracleconstr" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST = ORARAC.HPCL.CO.IN)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = ORARAC)));User Id=LCARD##_30POUCH_0316;Password=LCARU_NG9A_CH^D#IL;" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <security>
      <authorization>
        <remove users="" roles="Administrators" verbs=""/>
      </authorization>
    </security>
  </system.webServer>
</configuration>